<section class="sidebar">
   <a href="/">Home</a>
   <a href="/categories">Categories</a>
   <a href="#">Store</a>
   <a href="/about">About</a>
   <a href="/contact">Contact Us</a>
</section>
