<nav> <ul class="nav">
  <% if(data.user === undefined){%>
    <li ><a href="/profile/login">Sign In</a></li>
  <%}else{%>
      <li><a href="/profile/signout">SignOut</a></li>
  <%}%>
    <li><a href="/profile/login">My Favourites</a></li>
<li><a href="#">Cart</a></li>

</ul>

</nav>
