<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset = "utf-8">
	<link href="/assets/style/111.css" rel="stylesheet" type="text/css" />
      <title>About</title>
   </head>

   <body>
      <% include partials/header.ejs %>
      <% include partials/topnav.ejs %>


      <article>
           <% include partials/sidenav.ejs %>
         <section class="content">
           <% include partials/breadcrum.ejs %>
           <h1>OUR BRANDS</h1>
         <p>The H&M group includes nine clearly defined brands — H&M, COS, Monki, Weekday, & Other Stories, Cheap Monday, H&M Home, ARKET and Afound. Together our brands offer customers a wealth of styles and trends within fashion, beauty, accessories and homewares as well as modern, healthy food. Each brand works with constant improvements of their ranges to always be relevant, while the H&M group’s investments in the supply chain, tech, advanced analytics and AI will also benefit customers of all the brands in the group. </p>
         </section>
      </article>

      <aside>

      </aside>
       <% include partials/footer.ejs %>

   </body>
</html>
