<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset = "utf-8">
	<link href="/assets/style/111.css" rel="stylesheet" type="text/css" />
      <title>Contact</title>
   </head>

   <body>
      <% include partials/header.ejs %>
      <% include partials/topnav.ejs %>


      <article>
           <% include partials/sidenav.ejs %>
         <section class="content">
           <% include partials/breadcrum.ejs %>
           <h1>Head Office</h1>
         <p>H & M Hennes & Mauritz AB </p>
         <p>Mäster Samuelsgatan 46A</p>
         <p>SE -106 38 Stockholm</p>
         <p>SWEDEN</p>

         <p>Switchboard: +46 8 796 55 00</p>
         <p>Fax: +46 8 20 99 19</p>

         </section>
      </article>

      <aside>

      </aside>
       <% include partials/footer.ejs %>

   </body>
</html>
