<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset = "utf-8">
	<link href="/assets/style/111.css" rel="stylesheet" type="text/css" />
      <title>Error</title>
   </head>

   <body>
      <% include partials/header.ejs %>
      <% include partials/topnav.ejs %>


      <article>
           <% include partials/sidenav.ejs %>
         <section class="content">
           <% include partials/breadcrum.ejs %>
           <h1>Page Not Found</h1>
         </section>
      </article>

      <aside>

      </aside>
       <% include partials/footer.ejs %>

   </body>
</html>
