
<!DOCTYPE html>

<html>
   <head lang="en">
      <meta charset = "utf-8">
	<link href="/assets/style/111.css" rel="stylesheet" type="text/css" />
      <title>Home</title>
   </head>

   <body>
      <% include partials/header.ejs %>
      <% include partials/topnav.ejs %>


      <article>
           <% include partials/sidenav.ejs %>
         <section class="content">
           <% include partials/breadcrum.ejs %>
         <p> Welcome... H&M is a Swedish multinational clothing-retail company known for its fast-fashion clothing for men, women, teenagers and children. H&M and its associated companies operate in 62 countries with over 4,500 stores and as of 2015 employed around 132,000 people.It is the second-largest global clothing retailer, just behind Spain-based Inditex (parent company of Zara). The company has a significant on-line presence, with on-line shopping available in 33 countries</p>
         </section>
      </article>

      <aside>

      </aside>
       <% include partials/footer.ejs %>

   </body>
</html>
